{% include 'admin_navigation.html' %}

<marquee behavior="alternate" style="font-family: 'Monotype Corsiva'; font-size:25px; color:darkcyan; background-color:black; font-weight:bold; margin-top:1%">
    All Booking
</marquee>

<form method="POST" action="/search">
    {%csrf_token %}
    <input type="search" name="name"placeholder="Search by name">
    <input type="submit">
    <a href="{%url 'view_booking'%}" class="btn btn-danger btn-sm">Cancel</a>
</form>
  <table class="table mt-5">
      <tr bgcolor="sky-blue">
     <th>Room No</th>
     <th>Name</th>
     <th>Email</th>
     <th>Contact</th>
     <th>Booking Date</th>
     <th>No. of days</th>
     <th>Price</th>
     <th>Status</th>
     <th>Action</th>
     </tr>
      {% for i in data%}
     <tr>
          <td>{{i.room_no}}</td>
         <td>{{i.full_name}}</td>
         <td>{{i.email_id}}</td>
         <td>{{i.mobile1}}<br>{{i.mobile2}}</td>
         <td>{{i.booking_date}}</td>
         <td>{{i.days}}</td>
         <td>{{i.price}}</td>
         <td><a href="{% url 'change_status' i.id %}">{{i.status}}</a></td>
      <td align="center"><a href="{% url 'delete_booking' i.id %}" class="btn btn-danger btn-sm" onclick="return confirm('Are you sure?')">Delete Booking</a> </td>
     </tr>
       {%endfor%}
  </table>



{% include 'footer.html' %}