{% include 'admin_navigation.html' %}

<marquee behavior="alternate" style="margin-top:10px;background:black;color:white;font-family:mv boli;">
    Contact Detail
</marquee>

<table class="table">
    <tr bgcolor="#668800">
        <th>S.NO.</th>
        <th>Name</th>
        <th>Email</th>
        <th>Mobile</th>
        <th>Purpose</th>
        <th>Action</th>
    </tr>
    {% for i in data %}
    <tr>
        <td>{{forloop.counter}}</td>
        <td>{{i.full_name}}</td>
        <td>{{i.email}}</td>
        <td>{{i.mobile}}</td>
        <td>{{i.comment}}</td>
        <td><a href="{% url 'delete_contact' i.id %}" onclick="return confirm('Are you Sure?')" class="btn btn-danger btn-sm">Delete</a></td>
    </tr>
    {% endfor %}
</table>
<div style="margin-left:400px;">
    {% if not data %}
    <h1>Empty Contact's</h1>
    {% endif %}
</div>



<marquee behavior="alternate" style="margin-top:10px;background:black;color:white;font-family:mv boli;">
    Feedback Detail
</marquee>

<table class="table">
    <tr bgcolor="lightgreen">
        <th>S.NO.</th>
        <th>Name</th>
        <th>Email</th>
        <th>Mobile</th>
        <th>Feedback</th>
        <th>Action</th>
    </tr>
    {% for i in data2 %}
    <tr>
        <td>{{forloop.counter}}</td>
        <td>{{i.full_name}}</td>
        <td>{{i.email}}</td>
        <td>{{i.mobile}}</td>
        <td>{{i.feedback}}</td>
        <td><a href="{% url 'delete_feedback' i.id %}" onclick="return confirm('Are you Sure?')" class="btn btn-danger btn-sm">Delete</a></td>
    </tr>
    {% endfor %}

</table>
<div style="margin-left:400px;">
    {% if not data2 %}
    <h1>Empty Feedback</h1>
    {% endif %}
</div>


{% include 'footer.html' %}